asgiref==3.7.2
beautifulsoup4==4.12.3
bleach==6.1.0
bs4==0.0.2
cffi==1.16.0
cryptography==41.0.7
Django==5.0.1
django-axes==6.3.0
django-ckeditor==6.7.0
django-js-asset==2.2.0
pycparser==2.21
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.4
webencodings==0.5.1
waitress==1.4.4